<p>
  <strong>Name:</strong>
  <%= @chair.name %>
</p>

<p>
  <strong>company:</strong>
  <%= @chair.company %>
</p>



<%= link_to 'Edit', edit_chair_path(@chair) %> |
<%= link_to 'Back', chairs_path %>
