<p>
  <strong>Name:</strong>
  <%= @vehicle.name %>
</p>

<p>
  <strong>number:</strong>
  <%= @vehicle.number %>
</p>



<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
